#background {
    background-color: #f3eede;
    color: #006d77;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#site-search {
    color: #559790;
    background-color: #e4e4e1;
}