#background {
    background-color: #EFEFEF;
    color: #000000;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#site-search {
    color: #559790;
    background-color: #e4e4e1;
}

